@model IEnumerable<Category>
@{
    ViewData["Title"] = "Home Page";
}

    <div class=" row text-center">

        @foreach (var x in Model.ToList())
        {
            <div class="col-lg-4 col-md-6 mb-4">
            <a asp-action="Index" asp-controller="Category" asp-area="Customer" id=@x.CategoryId>
                <div class="card h-100">
                    <img class="card-img-top" src="~/icons/@String.Format(@x.CategoryName+".png")" style="max-width:20%;   margin-left: auto; margin-right: auto" alt="">
                    <div class="card-body">
                        <h4 class="card-title">@x.CategoryName</h4>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
